.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navlinks {
  font-size: 20px;
  background-image: url(pngegg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display:inline-block;
  width: 170px;
  height: 35px;
  text-align: center;
  padding-top: 10px;
}

.links {
  padding: 10px;
}

a:link {
  text-decoration: none;
}

a:visited {
  color:rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}