.container {
  height: fit-content;
  width: fit-content;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media screen and (max-width: 600px) {
    width: 100vh;
    justify-content: flex-start;
    // transform: scale();
  }
}

.container .flowerContainer {
  border: none;
  cursor: pointer;
  background-color: transparent;
  // margin-left: -200px;
  // margin-top: -200px;
  height: 250px;
  width: 250px;
  display: block;
}

.container .flowerContainer .flower {
  position: absolute;
  width: clamp(200px, 50%, 250px);
  aspect-ratio: 1/1;
  background-blend-mode: multiply;
  background-image: url(flower.png);
  opacity: 0.9;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(76, 64, 169, 0);
  animation: spin 60s linear infinite;
  -webkit-animation: spin 60s linear infinite;
  -moz-animation: spin 60s linear infinite;
  animation-name: spin;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wing {
  display: flex;
  position: relative;
  width: 35px;
  height: 45px;
  margin-left: 500px;
  background-blend-mode: multiply;
  background-image: url(wing.png);
  transform: rotate(50deg);
  opacity: 0.5;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(76, 64, 169, 0);
  animation: fly linear infinite;
  animation-duration: 20s;
}

@keyframes fly {
  0% {
    right: 40vw;
    top: 18vh;
    opacity: 0.5;
  }

  25% {
    right: 30vw;
    top: -30vh;
    opacity: 0.4;
  }

  50% {
    right: 20vw;
    top: -50vh;
    opacity: 0.3;
  }

  75% {
    right: 10vw;
    top: -80vh;
    opacity: 0.2;
  }

  100% {
    right: 0vw;
    top: -90vh;
    opacity: 0;
  }
}

.wing1 {
  display: flex;
  position: relative;
  width: 35px;
  height: 40px;
  margin-left: 500px;
  background-blend-mode: multiply;
  background-image: url(wing.png);
  transform: rotate(30deg);
  opacity: 0.5;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(76, 64, 169, 0);
  animation: fly1 linear infinite;
  animation-duration: 20s;
}

@keyframes fly1 {
  0% {
    right: 45vw;
    top: 10vh;
    opacity: 0.5;
  }

  25% {
    right: 45vw;
    top: -40vh;
    opacity: 0.4;
  }

  50% {
    right: 40vw;
    top: -80vh;
    opacity: 0.3;
  }

  75% {
    right: 35vw;
    top: -100vh;
    opacity: 0.2;
  }

  100% {
    right: 30vw;
    top: -110vh;
    opacity: 0;
  }
}

.wing2 {
  display: flex;
  position: relative;
  width: 35px;
  height: 45px;
  margin-left: 500px;
  background-blend-mode: multiply;
  background-image: url(wing.png);
  transform: rotate(10deg);
  opacity: 0.5;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(76, 64, 169, 0);
  animation: fly2 linear infinite;
  animation-duration: 20s;
}

@keyframes fly2 {
  0% {
    right: 50vw;
    top: 13vh;
    opacity: 0.5;
  }

  25% {
    right: 48vw;
    top: -10vh;
    opacity: 0.4;
  }

  50% {
    right: 40vw;
    top: -30vh;
    opacity: 0.3;
  }

  75% {
    right: 37vw;
    top: -50vh;
    opacity: 0.2;
  }

  100% {
    right: 34vw;
    top: -60vh;
    opacity: 0;
  }
}

.wing3 {
  display: flex;
  position: relative;
  width: 35px;
  height: 40px;
  margin-left: 500px;
  background-blend-mode: multiply;
  background-image: url(wing.png);
  opacity: 0.5;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(76, 64, 169, 0);
  animation: fly3 linear infinite;
  animation-duration: 20s;
}

@keyframes fly3 {
  0% {
    right: 400px;
    top: 50px;
    opacity: 0.5;
  }

  25% {
    right: 400px;
    top: -50px;
    opacity: 0.4;
  }

  50% {
    right: 380px;
    top: -150px;
    opacity: 0.3;
  }

  75% {
    right: 360px;
    top: -250px;
    opacity: 0.2;
  }

  100% {
    right: 350px;
    top: -350px;
    opacity: 0;
  }
}

.wing4 {
  display: flex;
  position: relative;
  width: 35px;
  height: 45px;
  margin-left: 500px;
  background-blend-mode: multiply;
  background-image: url(wing.png);
  transform: rotate(5deg);
  opacity: 0.5;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(76, 64, 169, 0);
  animation: fly4 linear infinite;
  animation-duration: 20s;
}

@keyframes fly4 {
  0% {
    right: 400px;
    top: 20px;
    opacity: 0.5;
  }

  25% {
    right: 380px;
    top: -50px;
    opacity: 0.4;
  }

  50% {
    right: 350px;
    top: -150px;
    opacity: 0.3;
  }

  75% {
    right: 300px;
    top: -250px;
    opacity: 0.2;
  }

  100% {
    right: 250px;
    top: -350px;
    opacity: 0;
  }
}

.wing5 {
  display: flex;
  position: relative;
  width: 35px;
  height: 40px;
  margin-left: 500px;
  background-blend-mode: multiply;
  background-image: url(wing.png);
  transform: rotate(13deg);
  opacity: 0.5;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(76, 64, 169, 0);
  animation: fly5 linear infinite;
  animation-duration: 20s;
}

@keyframes fly5 {
  0% {
    right: 400px;
    top: -50px;
    opacity: 0.5;
  }

  25% {
    right: 400px;
    top: -250px;
    opacity: 0.4;
  }

  50% {
    right: 350px;
    top: -350px;
    opacity: 0.3;
  }

  75% {
    right: 300px;
    top: -450px;
    opacity: 0.2;
  }

  100% {
    right: 250px;
    top: -550px;
    opacity: 0;
  }
}

.wing6 {
  display: flex;
  position: relative;
  width: 35px;
  height: 45px;
  margin-left: 500px;
  background-blend-mode: multiply;
  background-image: url(wing.png);
  transform: rotate(-30deg);
  opacity: 0.5;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(76, 64, 169, 0);
  animation: fly6 linear infinite;
  animation-duration: 20s;
}

@keyframes fly6 {
  0% {
    right: 400px;
    top: -100px;
    opacity: 0.5;
  }

  25% {
    right: 420px;
    top: -250px;
    opacity: 0.4;
  }

  50% {
    right: 450px;
    top: -350px;
    opacity: 0.3;
  }

  75% {
    right: 480px;
    top: -450px;
    opacity: 0.2;
  }

  100% {
    right: 530px;
    top: -500px;
    opacity: 0;
  }
}

.wing7 {
  display: flex;
  position: relative;
  width: 35px;
  height: 40px;
  margin-left: 500px;
  background-blend-mode: multiply;
  background-image: url(wing.png);
  transform: rotate(-50deg);
  opacity: 0.5;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(76, 64, 169, 0);
  animation: fly7 linear infinite;
  animation-duration: 20s;
}

@keyframes fly7 {
  0% {
    right: 400px;
    top: -200px;
    opacity: 0.5;
  }

  25% {
    right: 420px;
    top: -450px;
    opacity: 0.4;
  }

  50% {
    right: 450px;
    top: -550px;
    opacity: 0.3;
  }

  75% {
    right: 480px;
    top: -600px;
    opacity: 0.2;
  }

  100% {
    right: 530px;
    top: -700px;
    opacity: 0;
  }
}