.container {
    width: 100%;
    max-width: 550px;
    padding: 30px;
    border-radius: 5px;
    background-color: rgb(178, 209, 224);
}


.title {
    margin-bottom: 40px;
    font-family: 'Cormorant Garamond';
    color: rgba(5, 53, 90);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
}

.input {
    display: 'flex';
    flex-direction: 'row'
}

.lines {
    font-family: 'Cormorant Garamond';
    color: rgba(5, 53, 90);
    font-size: 18px;
}

.message {
    width: fit-content;
}

.btn {
    width: 50px;
    height: 30px;
    font-family: 'Cormorant Garamond';
    font-size: 16px;
    color: rgb(198, 216, 229);
    background-color: rgb(21, 97, 155);
    border-radius: 5px;
    margin-bottom: 10px;
}