.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    border: none;
    height: 30px;
    width: 30px;
    background-image: url(icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-left: 30px;
}


.linkedin {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url(pngegg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}

.git {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: url(github.png);
    background-repeat: no-repeat;
    background-size: cover;
}