.container {
    margin-left: 50px;
    margin-right: 50px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(7, 71, 120, 0.9);
    border-radius: 15px;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 250px;
    height: 50px;
}

.hello {
    color: rgba(254, 252, 255, 0.9);
    font-family: monospace;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgba(254, 252, 255, 0.9);
    animation: cursor 0.75s step-end infinite;
    width: 15ch;
    animation: cursor 0.75s step-end infinite, printedText 5s steps(15);
}

@keyframes cursor {
    0% {
        border-color: rgba(254, 252, 255, 0.9);
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: rgba(254, 252, 255, 0.9);
    }
}

@keyframes printedText {
    from {
        width: 0;
    }
}

h3 {
    text-align: start;
}

h4 {
    margin-bottom: 5px;
}

.body {
    margin-left: 100px;
    margin-right: 100px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: baseline;
}

.text {
    font-family: 'Cormorant Garamond';
    color: rgba(254, 252, 255, 0.9);
    line-height: 25px;
}