.container {
  width: 100%;
  height: 800px;
  margin-left: 10px;
  margin-top: 10px;
  background-color:  rgb(194, 195, 217, 0.5);
  display: flex;
  justify-content: center;
  overflow: auto;
}

.leftSide {
  display: block;
  flex-direction: column;
  width: 50%;
  margin-left: 10px;
  margin-right: auto;
}

.h2left {
  width: 130px;
  text-align: center;
  margin-left: 40px;
  background-color: rgb(83, 64, 135);
  border-radius: 5px;
  font-family: papyrus; 
  font-weight: lighter;
  color: rgb(226, 220, 237);
}

.leftList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px;
  line-height: 0;
}

.leftItems {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: papyrus; 
  font-size: 20px;
  color: rgba(53, 33, 87, 0.9);
}

.langItems {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: papyrus; 
  font-size: 16px;
  color: rgba(53, 33, 87, 0.9);
}

.rightSide {
  display: block;
  flex-direction: row;
  width: 60%;
  margin-right: 0px;
}

.h2right {
  margin-left: 40px;
  width: 130px;
  text-align: center;
  background-color: rgb(83, 64, 135);
  border-radius: 5px;
  font-family: papyrus;
  font-weight: lighter;
  color: rgb(226, 220, 237);
}

.rightList {

  list-style-type: none;
  display: list-item;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 2,5px;
}

.rightItems {
  font-family: papyrus; 
  font-size: 20px;
  color: rgba(53, 33, 87, 0.9);
  text-align: start;
}

.dateP {
  margin-top: 0px;
  padding: 10px;
  font-family: papyrus;
  font-size: 16px;
  color: rgb(82, 61, 118, 0.9);
  font-style: italic;
  text-decoration:overline;
}

.rightP {
  flex-direction: column;
  font-family: papyrus;
  font-size: 16px;
  color: rgb(82, 61, 118, 0.9);
}