.container {
  margin-left: 50px;
  margin-right: 50px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

.leftSide {
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgba(7, 71, 120, 0.9);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.h2left {
  width: 130px;
  height: fit-content;
  text-align: center;
  margin-left: 40px;
  background-color:  rgba(242, 242, 250, 0.9);
  border-radius: 5px;
  font-family: 'Cormorant Garamond'; 
  font-weight: lighter;
  color:rgba(29, 74, 108, 0.9);
}

.leftList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px;
  line-height: 0;
}

.leftItems {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Cormorant Garamond'; 
  font-size: 20px;
  color:  rgba(242, 242, 250, 0.9);
}
.leftdate {
  margin-top: 0px;
  padding: 10px;
  font-family:  'Cormorant Garamond';
  font-size: 16px;
  color: rgba(242, 242, 250, 0.9);
  font-style: italic;
  text-decoration:overline;
}

.rightSide {
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  background-color:   rgba(120, 155, 198, 0.6);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.h2right {
  margin-left: 40px;
  width: 130px;
  height: fit-content;
  text-align: center;
  background-color: rgba(31, 69, 112, 0.8);
  border-radius: 5px;
  font-family: 'Cormorant Garamond';
  font-weight: lighter;
  color: rgba(242, 242, 250, 0.9);
}

.rightList {
  margin-bottom: 130px;
  margin-left: 30px;
  list-style-type: none;
  display: list-item;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 2,5px;
}

.rightItems {
  font-family:  'Cormorant Garamond'; 
  font-size: 20px;
  color:  rgba(29, 74, 108, 0.9);
  text-align: start;
}

.rightdate {
  margin-top: 0px;
  padding: 10px;
  font-family:  'Cormorant Garamond';
  font-size: 16px;
  color:  rgba(29, 74, 108, 0.9);
  font-style: italic;
  text-decoration:overline;
}

.rightP {
  flex-direction: column;
  font-family:  'Cormorant Garamond';
  font-size: 16px;
  color: rgba(29, 74, 108, 0.9);
}