.container {
    width: 100%;
    height: 600px;
    background: rgba(76, 64, 169, 0.4);
    justify-items: center;
}

.cardList {
    display:flex;
    justify-content: space-around;
}

.cardBody {
    width: 200px;
    height: 130px;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    border-style: inset;
    border-radius: 5px;
    background-color: rgba(220, 218, 235);
    justify-items: center;
    transition: transform 0.3s;
}

.cardTitle {
    margin-top: 10px;
    text-align: center;
    font-family: papyrus;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(9, 9, 88, 0.7);
}

.btn {
    background-color: #4CAF50;
    border: 1px;
    border-radius: 7px;
    color: white;
    margin-left: auto;
    margin-right: auto; 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: papyrus;
    font-size: 16px;
}

.cardBody:hover {
    transform: scale(1.1);
}

.btn:hover {
    background-color: rgb(217, 250, 220);
    color: #4CAF50;
    font-weight: bold;
    cursor: pointer;
}


p:hover {
    display: inline-block;
    transition: transform 0.3s;
}
