.container {
    margin-left: 50px;
    margin-right: 50px;
    height: 650px;
    background-color: rgba(7, 71, 120, 0.9);
    justify-items: center;
    border-radius: 15px;
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardBody {
    display: grid;
    width: 200px;
    height: 230px;
    margin: 10px 10px 10px 10px;
    border-style: inset;
    border-radius: 5px;
    background-color: rgba(195, 202, 216, 0.9);
    transition: transform 0.3s;
}

.cardTitle {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 30px;
    text-align: center;
    font-family: 'Cormorant Garamond';
    font-size: 20px;
    font-weight: bolder;
    color: rgba(245, 250, 255, );
    background-color: rgba(7, 71, 120, 0.9);
    border-radius: 3px;
}

.cardFooter {
    margin: auto;
}

.btn {
    background-color: rgba(57, 113, 158, 0.8);
    border: 1px;
    border-radius: 7px;
    color: rgba(242, 242, 250, 0.9);
    margin: auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'Cormorant Garamond';
    font-size: 16px;
}

.cardBody:hover {
    transform: scale(1.1);
}

.btn:hover {
    background-color: rgba(57, 136, 196, 0.8);
    font-weight: bold;
    cursor: pointer;
    color: rgba(7, 71, 120, 0.9);
}

.txt {
    text-align: center;
    margin: auto;
    font-family: 'Cormorant Garamond';
    font-size: 16px;
    color: rgba(14, 29, 69, );
}