.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardBody {
    display: grid;
    width: 21vw;
    height: 26vh;
    margin: 20px 20px;
    border-right: 3px solid rgb(15, 53, 80, 0.9);
    border-bottom: 3px solid rgb(15, 53, 80, 0.9);
    border-radius: 5px;
    background-color: rgba(245, 248, 250);
    transition: transform 0.3s;
}

.cardTitle {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 19vw;
    height: 4vh;
    text-align: center;
    font-family: 'Cormorant Garamond';
    font-size: calc(0.1vh + 0.1vh + 2vmin);
    font-weight: bolder;
    color: rgba(245, 250, 255, );
    text-shadow: 2px 2px rgb(15, 53, 80);
    background-color: rgba(7, 71, 120, 0.9);
    border-radius: 3px;
}

.cardFooter {
    margin: auto;
}

.btn {
    background-color: rgba(97, 146, 187, 0.8);
    border: 1px;
    border-radius: 7px;
    color: rgba(4, 24, 55, 0.9);
    margin: auto;
    padding: 1vh 2vw;
    text-align: center;
    text-decoration: none;
    font-family: 'Cormorant Garamond';
    font-size: calc(0.001vh + 0.001vh + 2vmin);
}

.cardBody:hover {
    transform: scale(1.1);
}

.btn:hover {
    background-color: rgba(37, 172, 209, 0.8);
    font-weight: bold;
    cursor: pointer;
    color: rgba(255, 255, 255);
    text-shadow: none;
}

.txt {
    height: 8vh;
    width: 19vw;
    text-align: center;
    margin: auto;
    font-family: 'Cormorant Garamond';
    font-size: calc(0.001vh + 0.001vh + 2.2vmin);
    color: rgba(14, 29, 69, );
}