body {
    margin: 0;
    padding: 0;
    background:url(pngwing.com.png), linear-gradient(0deg,rgba(16, 81, 130, 0.84) 23%, rgba(61, 134, 180, 0.915) 43%, rgba(173, 218, 227, 0.6) 73%, rgb(255, 255, 255) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 220vh;
}