body {
    margin: 0;
    padding: 0;
    background:url(pngwing.com.png) no-repeat, linear-gradient(0deg,rgba(7, 71, 120, 0.84) 38%, rgba(37, 115, 163, 0.915) 53%, rgba(127, 195, 208, 0.6) 73%, rgb(255, 255, 255) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}